@model ValidationSample.Models.ScheduleModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <button type="submit">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/App/requiredif.unobtrusive.js"></script>
}